@import 'color.less';

@prefix: ligero;
// color
@primary-color: @blue;
@info-color: @blue;
@processing-color: @blue;
@success-color: @green;
@error-color: @red;
@warning-color: @gold;
@white: #fff;
@black: #000;
@gray-2: #fafafa;
@gray-3: #f5f5f5;
@gray-4: #f0f0f0;
@gray-5: #d9d9d9;
@gray-6: #bfbfbf;
@gray-7: #8c8c8c;
@gray-8: #595959;
@gray-9: #434343;
@gray-10: #262626;

@font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
  'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
  'Noto Color Emoji';
// font-size
@font-size-base: 10px;
@font-size-xs: @font-size-base + 2px;
@font-size-sm: @font-size-base + 4px;
@font-size-md: @font-size-base + 6px;
@font-size-lg: @font-size-base * 2;
@font-size-xl: @font-size-base * 2.4;
@font-size-xxl: @font-size-base * 3;

// padding
@padding-base: 4px;
@padding-xs: @padding-base * 2;
@padding-sm: @padding-base * 3;
@padding-md: @padding-base * 4;
@padding-lg: @padding-base * 6;

// line-height
@line-height-base: 1;
@line-height-xs: @line-height-base;
@line-height-sm: @line-height-base * 1.3;
@line-height-md: @line-height-base * 1.5;
@line-height-lg: @line-height-base * 2;

// border-color
@border-color: @gray-5;
// border-radius
@border-radius-base: 1px;
@border-radius-xs: @border-radius-base;
@border-radius-sm: @border-radius-base * 2;
@border-radius-md: @border-radius-base * 4;
@border-radius-lg: @border-radius-base * 8;
@border-radius-max: 999px;
// font-color
@text-color: fade(@black, 85%);
@text-color-secondary: fade(@black, 45%);
@text-color-inverse: @white;
@text-color-dark: fade(@white, 85%);
@text-color-secondary-dark: fade(@white, 65%);

// button
@button-height-base: 22px;
@button-height-xs: @button-height-base + 2px;
@button-height-sm: @button-height-base + 10px;
@button-height-md: @button-height-base * 2;
@button-height-lg: round(@button-height-base * 2.45);
@button-primary-color: @white;
@button-primary-background-color: @blue;
@button-primary-border-color: @blue;
@button-default-color: @text-color;
@button-default-background-color: @white;
@button-default-border-color: @border-color;
@button-success-color: @white;
@button-success-background-color: @success-color;
@button-success-border-color: @success-color;
@button-warning-color: @white;
@button-warning-background-color: @warning-color;
@button-warning-border-color: @warning-color;
@button-danger-color: @white;
@button-danger-background-color: @error-color;
@button-danger-border-color: @error-color;
@button-disabled-opacity: 0.5;

// cell
@cell-font-size: @font-size-md;
@cell-background-color: @white;
@cell-line-height: 1.5;
@cell-vertical-padding: 10px;
@cell-horizontal-padding: @padding-md;
@cell-font-color: @text-color;
@cell-right-font-color: @text-color-secondary;
@cell-right-font-size: @font-size-sm;
@cell-extra-font-size: @font-size-sm;
@cell-icon-font-size: @font-size-md;
@cell-label-font-size: @font-size-sm;
@cell-label-font-color: @text-color-secondary;
@cell-label-margin-top: @padding-base;
@cell-label-line-height: @line-height-base;

// picker

@picker-item-font-size: @font-size-md;
@picker-item-font-color: @text-color;
